/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#mini-irc {                                                           
  list-style-image: url("chrome://ambassador/skin/images/icon16.png");
}

#tasksMenuIRC {
  list-style-image: url("chrome://ambassador/skin/images/icon16.png");
}
