/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://communicator/skin/);

window {
    width: 640px;
    height: 480px;
}

#menu-view-none {
    display: none;
}

#tabpanels-contents-box {
    margin: 3px 0;
}

#header-url:hover {
    text-decoration: underline;
}

#outer-box {
    margin: 5px;
}

.toolbarbutton-menu-dropmarker {
    margin-left: 0.5em;
}

#input-widget,
#input-widget-multiline {
    border: thin silver inset;
}

#button-multiline-expand {
    list-style-image:url("chrome://chatzilla/skin/images/multiline-expand.png");
}

#button-multiline-contract {
    list-style-image:url("chrome://chatzilla/skin/images/multiline-contract.png");
}

#button-input {
    list-style-image:url("chrome://chatzilla/skin/images/input-send.png");
}

.highlight-menu-item:hover {
    color: white !important;
    background: darkslategrey !important;
}

#view-tabs {
    overflow: hidden;
}

#views-tbar-spacer {
    -moz-box-flex: 10000;
}

#tabs-drop-indicator-bar {
    position: relative;
    margin-top: -3px;
    -moz-margin-start: -5px;
    height: 3px;
}

#tabs-drop-indicator {
    position: relative;
    margin-right: -11px;
    margin-bottom: -8px;
    width: 11px;
    height: 11px;
    background: url(images/drop-indicator-bottom.png) 50% 50% no-repeat;
}

.view-button {
    /* do NOT set colour, at least not without background. :) */
    text-align: center;
    max-width: 30ex;
    -moz-box-flex: 1;
}

.view-button[state="current"] {
    font-weight: bold;
}

.view-button[state="superfluous"] {
    color: darkblue;
}

.view-button[state="activity"] {
    color: darkgreen;
}

.view-button[state="attention"] {
    color: red;
}

.output-container {
    border: thin silver inset;
    border-left: none;
    border-right: none;
}

treecol { 
    border: none;
}

/* we need to define both the : and :: versions of the treechildren selector
 *  so that we work on both 1.5 and pre 1.5 builds.
 *
 * The userlist can be in one of two state.  In "symbol", the user's
 * channel mode is shown as a @ or + image, while in "graphic" mode, the
 * image is one of the LED images.
 */

/* no mode */
treechildren:-moz-tree-image {
    list-style-image: url(chrome://chatzilla/skin/images/no-symbol.png);
}

treechildren::-moz-tree-image {
    list-style-image: url(chrome://chatzilla/skin/images/no-symbol.png);
}

#user-list[mode="graphic"] treechildren:-moz-tree-image {
    list-style-image: url(chrome://chatzilla/skin/images/no-graphic.png);
}

#user-list[mode="graphic"] treechildren::-moz-tree-image {
    list-style-image: url(chrome://chatzilla/skin/images/no-graphic.png);
}

/* voice */
treechildren:-moz-tree-image(voice-true) {
    list-style-image: url(chrome://chatzilla/skin/images/voice-symbol.png);
}

treechildren::-moz-tree-image(voice-true) {
    list-style-image: url(chrome://chatzilla/skin/images/voice-symbol.png);
}

#user-list[mode="graphic"] treechildren:-moz-tree-image(voice-true) {
    list-style-image: url(chrome://chatzilla/skin/images/voice-graphic.png);
}

#user-list[mode="graphic"] treechildren::-moz-tree-image(voice-true) {
    list-style-image: url(chrome://chatzilla/skin/images/voice-graphic.png);
}

/* half-chanop */
treechildren:-moz-tree-image(halfop-true) {
    list-style-image: url(chrome://chatzilla/skin/images/halfop-symbol.png);
}

treechildren::-moz-tree-image(halfop-true) {
    list-style-image: url(chrome://chatzilla/skin/images/halfop-symbol.png);
}

#user-list[mode="graphic"] treechildren:-moz-tree-image(halfop-true) {
    list-style-image: url(chrome://chatzilla/skin/images/halfop-graphic.png);
}

#user-list[mode="graphic"] treechildren::-moz-tree-image(halfop-true) {
    list-style-image: url(chrome://chatzilla/skin/images/halfop-graphic.png);
}

/* chanop */
treechildren:-moz-tree-image(op-true) {
    list-style-image: url(chrome://chatzilla/skin/images/op-symbol.png);
}

treechildren::-moz-tree-image(op-true) {
    list-style-image: url(chrome://chatzilla/skin/images/op-symbol.png);
}

#user-list[mode="graphic"] treechildren:-moz-tree-image(op-true) {
    list-style-image: url(chrome://chatzilla/skin/images/op-graphic.png);
}

#user-list[mode="graphic"] treechildren::-moz-tree-image(op-true) {
    list-style-image: url(chrome://chatzilla/skin/images/op-graphic.png);
}

/* admin */
treechildren:-moz-tree-image(admin-true) {
    list-style-image: url(chrome://chatzilla/skin/images/admin-symbol.png);
}

treechildren::-moz-tree-image(admin-true) {
    list-style-image: url(chrome://chatzilla/skin/images/admin-symbol.png);
}

#user-list[mode="graphic"] treechildren:-moz-tree-image(admin-true) {
    list-style-image: url(chrome://chatzilla/skin/images/admin-graphic.png);
}

#user-list[mode="graphic"] treechildren::-moz-tree-image(admin-true) {
    list-style-image: url(chrome://chatzilla/skin/images/admin-graphic.png);
}

/* founder */
treechildren:-moz-tree-image(founder-true) {
    list-style-image: url(chrome://chatzilla/skin/images/founder-symbol.png);
}

treechildren::-moz-tree-image(founder-true) {
    list-style-image: url(chrome://chatzilla/skin/images/founder-symbol.png);
}

#user-list[mode="graphic"] treechildren:-moz-tree-image(founder-true) {
    list-style-image: url(chrome://chatzilla/skin/images/founder-graphic.png);
}

#user-list[mode="graphic"] treechildren::-moz-tree-image(founder-true) {
    list-style-image: url(chrome://chatzilla/skin/images/founder-graphic.png);
}

/* away */
treechildren:-moz-tree-cell-text(away-true) {
    color: GrayText;
    font-style: italic;
}

treechildren::-moz-tree-cell-text(away-true) {
    color: GrayText;
    font-style: italic;
}

treechildren:-moz-tree-cell-text(away-false) {
}

treechildren::-moz-tree-cell-text(away-false) {
}

menuitem[header="true"] {
    text-align: center;
}

.colorGrid
{
    width: 24px;
    height: 16px;
    border: 1px solid black;
    -moz-box-align: center;
    -moz-box-pack: center;
}

#colorTooltip
{
    padding: 0px;
    -moz-box-align: center;
    -moz-box-pack: center;
}

/* Feel the hacks. */
progressmeter[mode="undetermined"] {
    -moz-appearance: none;
}

[dir="ltr"] {
    direction: ltr;
}

[dir="rtl"] {
    direction: rtl;
}

/* Hack; Stop the status-bar from distorting without a security icon */
#status-text {
    min-height: 17px;
}

#status-text[notice="true"] {
    font-weight: bold;
}

#security-button {
    min-width: 20px;
}

#security-button:not([level="high"]):not([level="low"]):not([level="broken"]) {
    display: none;
}

#security-button[level="high"] > image {
    list-style-image: url("chrome://chatzilla/skin/images/secure.png");
}

#security-button[level="low"] > image {
    list-style-image: url("chrome://chatzilla/skin/images/secure.png");
}

#security-button[level="broken"] > image {
    list-style-image: url("chrome://chatzilla/skin/images/secure-broken.png");
}

/* prevent margins of a value-less label from shifting the image */
#security-button > label:not([value]) {
    display: none;
}

#alert-status[alertstate="off"] {
    list-style-image: url("chrome://chatzilla/skin/images/spbubble-off.png");
}

#alert-status[alertstate="on"] {
    list-style-image: url("chrome://chatzilla/skin/images/spbubble-on.png");
}

#logging-status[loggingstate="off"] {
    list-style-image: url("chrome://chatzilla/skin/images/logging-off.png");
}

#logging-status[loggingstate="on"] {
    list-style-image: url("chrome://chatzilla/skin/images/logging-on.png");
}

#offline-status[offlinestate="offline"] {
    list-style-image: url("chrome://chatzilla/skin/images/offline.png");
}

#offline-status[offlinestate="online"] {
    list-style-image: url("chrome://chatzilla/skin/images/online.png");
}

/* Focus styling for a11y reasons */
#user-list-box[focusobvious="true"], #browser-box[focusobvious="true"],
#multiline-hug-box[focusobvious="true"], #singleline-hug-box[focusobvious="true"] {
    border-color: highlight !important;
}

/* Not setting a right border so the scrollbar remains on the window edge. */
#browser-box:last-child, #user-list-box:last-child {
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

#user-list-box:first-child, #browser-box:first-child {
    border-right: 2px solid transparent;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

#singleline-hug-box, #multiline-hug-box {
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
}
