/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* 
 *  a dark background/light text version of the output window.
 *  see output-base.css for details. 
 */

@import url(chrome://ambassador/content/output-base.css);

.ambassador-body {                 /* The topmost container in the Ambassador */
    background: black;             /* output window. */
    color: lightgrey;    
}

a.ambassador-link {
    color: #fffdd6;
}

a.ambassador-link:visited {
    color: lightgrey;
}

.header-outer {
    background-color: black;
}

.header {
    color: lightslategrey;
    background-color: #333333;
    border-radius: 7px;
}

.progress-fg {
    background-color: silver;
}

.value {
    color: silver;
}

/* Style userlist as white-on-black. */
treechildren {
    background: black;
    color: white;
}

/* For Mac, who's theme sucks. */
treechildren:-moz-tree-row(unselected),
treechildren:-moz-tree-cell(unselected),
treechildren:-moz-tree-cell-text(unselected) {
    border-color: black !important;
    background: black !important;
    color: white !important;
}
treechildren::-moz-tree-row(unselected),
treechildren::-moz-tree-cell(unselected),
treechildren::-moz-tree-cell-text(unselected) {
    border-color: black !important;
    background: black !important;
    color: white !important;
}

#splash {
    color: #444444;
}

#usr-descnodes,
#ch-topicnodes {
    color: white;
}

[condition] {
    font-weight: bold;
}

[condition="red"] {
    color: red;
}

[condition="yellow"] {
    color: yellow;
}

[condition="green"] {
    color: lightgreen;
}

.msg[msg-type="JOIN"] .msg-data a.ambassador-link,
.msg[msg-type="PART"] .msg-data a.ambassador-link {
    color: lightcyan;
}

.msg[msg-type="KICK"] .msg-data a.ambassador-link {
    color: #ff5700;
}

.ambassador-rheet {
    color: magenta !important;
}

.ambassador-highlight[name="Slate"] {
    color: white;
    background: #15272d;
}

.ambassador-highlight[name="Plum"] {
    color: white;
    background: #442144;
}

.ambassador-highlight[name="Brown"] {
    color: white;
    background: #562a14;
}

.msg-type {                                 /* .msg-type = message type       */
    color: silver;                          /* indicator                      */
}

.msg-user a.ambassador-link,
.msg-user {                                 /* msg-user = nickname portion of */
    color: white !important;                /* a message (channel and query   */
}                                           /* views)                         */

.msg[mark="even"] .msg-data {               /* use even/odd marks to create a */
    color: white;                           /* subtle brightness change when  */
}                                           /* the speaker changes.           */

.msg[msg-type="JOIN"] .msg-data,
.msg[msg-type="PART"] .msg-data {
    color: lightblue;
}

.msg[msg-type="PART"] .msg-data {
    color: lightblue;
}

.msg[msg-type="HELLO"] .msg-data {
    color: yellow;
}

.msg[msg-type="ERROR"] .msg-data,
.msg[msg-type="DISCONNECT"] .msg-data {
    background: red;
    color: white;
}

.msg[msg-type="USAGE"] .msg-data {
    color: white;
}

.msg[msg-type="ACTION"] .msg-data {
    color: #6ac9ee;
}

.msg[msg-type="NICK"] .msg-data {
    color: #96fa94;
}

.msg[msg-type="NOTICE"] .msg-data,
.msg[msg-type="MODE"] .msg-data {
    color: #60e066;
}

.msg[msg-type="NOTICE"] .msg-data a.ambassador-link,
.msg[msg-type="MODE"] .msg-data a.ambassador-link {
    color: #6dff74;
}

.msg[msg-type="KICK"] .msg-data {
    color: #d85d24;
}

.msg[msg-type="QUIT"] .msg-data {
    color: #f7b183;
}

/* important="true" means that the message has text from your /stalk list in
 * it, has your nickname in it, or was spoken by someone in your /stalk list.
 */
.msg[important="true"] .msg-user,
.msg[important="true"] .msg-data {
    background: #333333 !important;
}

.msg-user:before,
.msg-user:after {
    color: blue;
}

.msg[msg-user$="ME!"] .msg-user:before,
.msg[msg-user$="ME!"] .msg-user:after {
    color: #6afc73;
}

.msg[msg-type="ACTION"] .msg-user:before,
.msg[msg-type="ACTION"] .msg-user:after {
    color: cyan;
}

.msg[msg-type="NOTICE"] .msg-user:before,
.msg[msg-type="NOTICE"] .msg-user:after {
    color: #6afc73;
}

/* private messages *not* in a query window */
.msg[dest-type="IRCUser"] .msg-user:before,
.msg[dest-type="IRCUser"] .msg-user:after {
    color: #6afc73;
}

.msg[msg-dest$="ME!"] .msg-user:before,
.msg[msg-dest$="ME!"] .msg-user:after {
    color: magenta;
}

/* private messages in a query window */
.msg[view-type="IRCUser"] .msg-user:before,
.msg[view-type="IRCUser"] .msg-user:after {
    color: white;
}

.msg[view-type="IRCUser"][msg-user$="ME!"] .msg-user:before,
.msg[view-type="IRCUser"][msg-user$="ME!"] .msg-user:after {
    color: #6afc73;
}
